.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 4em;
    padding: 2em;
    color: white;
    background-color: rgb(62, 62, 236);
    border: none;
    border-radius: 4vh;
    position: relative;
} 

.text1{
    font-size:1.5em;
}

@media screen and (max-width: 800px) {
    .btn1 {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

